*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    margin: 0 auto;
    max-width: 43.75rem;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upper-piece {
    width: 21.875rem;
    height: 12.5rem;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.display-border {
    width: 21.25rem;
    height: 11.875rem;
    border: 1px solid black;
    border-radius: .3125rem;
    background-color: rgba(0, 0, 0, .5);
}
.keyboard-wrapper {
    width: 21.875rem;
    height: 9.375rem;
    border: 1px solid black;
}